body{
    margin: 0;
    background: black;
    height: 2000px;
    justify-content: center;
    align-items: center;
  }
  
  section{
    height: 700px;
    background: url(https://p4.wallpaperbetter.com/wallpaper/268/849/297/sky-city-new-york-city-empire-state-building-wallpaper-preview.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  section:before{
    content: "";
    background: linear-gradient(to top,black,transparent);
    position: absolute;
    left: 0;
    height: 750px;
    width: 100%;;
  }
  
  h1{
    color: black;
    font-family: sans-serif;
    font-size: 5em;
    position: absolute;
    left: 370px;
    top: 130px;
    animation: slide 1.5s ease-out;
  }
  h2{
    color: white;
    font-family: sans-serif;
    font-size: 5em;
    width: 258px;
    position: absolute;
    left: 370px;
    top: 250px; 
    animation: slide 1.5s ease-out;
  }
 @keyframes slide {
  from  {
    left: -100px;
  }
  to{
    left: 370px;
  }
}

a{
  text-decoration: none;
  color: white  ;
  font-family: sans-serif;
  font-size: 1.5em;
}
  
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  padding: 8px 10px;
}

.navbar__menu{
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar__menu li{
  padding: 8px 10px;
}
.navbar__menu li:hover{
  background-color: black;
  border-radius: 8px;
}

.slider {
  width: 500px;
  height: 700px;
  display: flex;
}

.box {
  text-align: center;
  line-height: 800px;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
}